body {
  background: #aaa;
  user-select: none;
  -webkit-user-select: none;
}

#arena {
  margin: 20px;
  border: 1px solid black;
}

#scores {
  color: white;
}

#scores td {
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
